*{
    margin: 0;
    padding: 0;
}

h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    display: flex;
    justify-content: center;


}
.choise{
    height:165px;
    width: 165px;
    display: felx;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

.choise:hover{
    cursor: pointer;
    background-color: #001b31;
}
img{
    height: 150px;
    width: 150px;
    object-fit:cover ;
    border-radius: 50%;
}

.choises{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;

}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;


}
#user-choise,
#comp-choise{
    font-size: 4rem;

}

#msg{
    margin-top: 5rem;
    background-color: #081b31;
    padding: 1rem;
    color: #fff;
    display: inline;
    border-radius: 1rem;
    text-align: center;
    

}

.msg-container{
    margin-top: 5rem;
    margin-left: 45rem;
}

green{
    background-color: green;
}
